@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}


.token.operator {
    background: transparent;
}

pre {
    border-style: solid;
    border-color: var(--bs-border-width);
    border-width: 1px;
}

ul,
ol {
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style: disc outside none;
}

ol {
    list-style: decimal outside none;
}

li {
    display: list-item;
}